/* ====================
   BODY MAIN STYLE
   ==================== */

body {
    font-family: 'Open Sans', 'Arial';         /* Sets the default font for the whole webpage */
    font-size: 1rem;
    margin: 0;                                                 /* Removes any default margins around the body */
    padding: 0;                                                    /* Removes any default padding inside the body */
    color: #252737;
    line-height: 1.3;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p, a, span {
    margin: 0 0 0 0;
}


/* ====================
   PICTURE ROW STYLES (PICTURE)
   ==================== */
.picturerow {
    background-image: url('SP.jpg');  /* Sets the background image of this element */
    background-position: center;      /* Centers the background image */
    height: 400px;                    /* Sets a fixed height for this row */
    position: relative;               /* To position the pseudo-element relative to this container */
    overflow: hidden;                 /* Ensures nothing spills outside the container */
}


/* ====================
   PAGE INDEX ROW STYLES
   ==================== */


   .indexrow {
    background-color: #252737;
    padding: 1.6px 0 1.6px 0;
}

.indexrow-text {
    background-color: #252737;       
    display: flex;                     
    width: 100%;                      
    justify-content: center;          
    align-items: center;              
    padding: 16px 0 16px 0; 
}

.indexrow-text :hover {
    color: #699fb2;
}

.index {                               
    text-decoration: none;             
    font-size: 17px;                   
    color: #ecf7fb;                  
    text-transform: uppercase;         
    margin: 0 20px;                    
}

/* Style for the active index link */
.index.active {
    border-bottom: 2px solid #ecf7fb; /* Adds a bottom border for active link */
}



/* ====================
   PAGE TITLE ROW STYLES
   ==================== */
.pagetitlerow {
    padding: 40px 0 5px 0;
    font-family: 'Tangerine', 'Arial';
    font-weight: 700;
    text-align: center;
    font-size: 100px;
}


.pagesubtitlerow {
    font-family: 'Tangerine', 'Arial';
    font-size: 3.75rem;
    padding: 0 0 40px 0;
    text-align: center;
}




/* ====================
   ABOUT PAGE: TEXT ROW STYLES
   ==================== */

.aboutmebackground {
    background-image:
        linear-gradient(#e1ebfc70, #ffffff), /* overlay, 50% opacity */
        url('backgroundaboutme.jpg'); 
    background-size: cover; /* This will cover the entire viewport of the .cv-row div */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: center; /* Centers the image in the div */
}

.about-me-text {
    padding: 15px;
    text-align: center;
}

/* ====================
   CV PAGE STYLE
   ==================== */

/* Base styles for the two column layout */
.cv-row {
    display: flex;                          /* Use Flexbox for layout */
    flex-direction: row;
    justify-content: space-between;         /* Distributes items evenly, maximizing the space between items */
    gap: 15px;                              /* Space between the two columns */
    padding: 15px;                          /* Padding around the content */
    min-height: 1000px;
    background-image:
        linear-gradient(#ffffff, #e1ebfc70), /* overlay, 50% opacity */
        url('backgroundcv.jpg'); 
    background-size: cover; /* This will cover the entire viewport of the .cv-row div */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-position: center; /* Centers the image in the div */
}

.cv-right-side {
    flex: 50%;
}
.cv-left-side {
    flex: 50%;
}


.cv-row-title {
    padding: 40px 0 0 0;
    font-family: 'Tangerine', 'Arial';
    font-weight: 700;
    text-align: center;
    font-size: 100px;
}

/* Base styling for each "experiences" container, which includes both Job Experiences and Education */
.experiences {
    flex: 1;                                /* Takes equal width space for both job experiences and education columns */
    padding: 20px;                          /* Internal spacing */
}

/* Styling for the titles within each experience (like "Job Experiences" and "Education") */

.experiencesnames {
    font-family: 'Tangerine', 'Arial';
    font-weight: 700;
    font-size: 3.125rem;
    position: relative; /** Enables positioning for pseudo-elements */
}

.experiencesnames::before,
.experiencesnames::after {
    content: ""; /** Necessary for pseudo-elements to be visible */
    position: absolute; /** Absolutely position relative to the parent element */
    bottom: 0; /** Position at the bottom of the parent element */
    width: 80%; /** Set the width of the curves */
    height: 5px; /** Height of the border */
    background-color: #252737; /** Border color */
    border-radius: 40%; /** Makes the ends circular */
}

.experiencesnames::before {
    left: 0; /** Position the left curve at the left end */
}

.experiencesnames::after {
    right: 0; /** Position the right curve at the right end */
}


.experiences p {
   padding: 5px;
}

.experience-period {
    text-decoration: none;
}

/* Space between each individual experience or education block */
.experiences-overview {
    margin: 5px;
    border-bottom: 2px dotted #b8bacc;     /* Adds a bottom border for visual separation */
}

/* Styling for the main title of each individual job or education entry */
.cv-title p {
    font-size: 1.563rem;                        /* Smaller font than the section title */
    font-weight: bold;                      /* Make it bold */
}

/* Styling for the company name or institution name */
.cv-company {
    color: #88b5c5;                      /* Font size smaller than the main title */
}
.cv-date-location {
    display: flex;
    gap: 1px;
    pointer-events: none;   /** Disable any clickable behavior */
}


.cv-job-description {
    text-align: left;
    list-style-type: circle;                  /* Use regular bullet points */;
    list-style-position: outside;
}

.cv-job-description ul {
    padding-left: 20px;                 /** Adjust this value to move bullet points left or right */
}

.cv-job-description li {
    text-indent: 1px;
}

.project-row {
    background-color: #ecf7fb;
    padding: 20px 20px 30px 40px;
}


@media (max-width: 767px) {
    .cv-row {
        flex-direction: column;  /* Stack children vertically */
    }

    .cv-left-side, .cv-right-side {
        flex-basis: 100%;  /* Take full width of the parent */
    }
}